.card {
display: grid;
background: rgb(255, 255, 255);
max-width: 350px;
border-radius: 8px;

    &__main {
        display: flex;
        align-items: center;  
        display: flex;
        justify-content: space-between;
    }

    &__points:hover {
        transform: scale(1.3);
    }

    &__info {
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }

    &__info-section {
        display: flex;
        align-items: center; 
    }

    &__arrow {
        margin-left: 10px;
    }
}