.gist {
  overflow: auto;
  display: grid;
  grid-area: gist;
  background: #fff;
  border-radius: 8px;

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__tags {
    display: flex;
  }

  &__tag {
    margin-left: 5px;
  }

  &__tag::before {
    border-radius: 5px;
    margin-right: 5px;
    vertical-align: middle;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #e786d7;
  }
  &__tag:last-child::before {
    background: #7f7fd5;
  }
}
